# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

secrets

# Dockerized folder
build-slot0/*
!build-slot0/dummy
build-mcuboot/*
!build-mcuboot/dummy
build-slot1/*
!build-slot1/dummy
build-test/*
!build-test/dummy
.vscode/*
!.vscode/tasks.json

# Local Only
*.jdebug.user
